
<h4>index</h4>

<h4 class="text-center my-4">New Survey</h4>

{{>form}}

<div class="container">

  <h4 class="text-center my-4">No hay encuestas</h4>
   
    {{#each surveys}}
      <div class="row">
        <div class="col-3 mt-3">                     
          <div class="card" style="width: 18rem;">
            <a href="/tasks/delete/{{_id}}?_method=DELETE" class="text-dark text-end mt-1 mx-2"><i class="fas fa-trash-alt"></i></a>
            <div class="card-body">
              <h5 class="card-title">{{title}}</h5>                       
              <p class="card-text"><small class="text-muted">creado por</small></p>                
              <p class="card-text">{{description}}</p>
            </div>
            <div class="card footer">
              <div class="d-grid gap-2 d-md-flex justify-content-between">           
                <a href="#" class="btn text-muted">Cantidad votos</a>                   
                <a href="/vote" class="btn btn-secondary">Votar</a>
              </div>
            </div>          
          </div> 
        </div>         
      </div>    
    {{/each}}    
       
</div>