<div>  
    <img src="../images/pexels-fauxels-3184292.resized.jpg" class="d-block mx-auto mt-3 w-50" alt="image people working">
    <div class="d-grid gap-2 col-4 mx-auto">
        <a class="btn btn-outline-primary mt-2" href="/login">Login</a>                   
        <a class="btn btn-outline-success mt-2" href="/register">Signup</a>
    </div>
  </div>
</div>
