  
<form action="/createSurvey" method="POST">

  <div class="col-md-4 offset-md-4">
    <div class="mb-1 ">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" name="title">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea type="text" class="form-control" name="description" id="textarea1" rows="3"></textarea>
    </div>
    <div>
      <p>Options</p>
      <div class="mb-1 ">     
        <input type="text" class="form-control" placeholder="option1" name="option1">
      </div>
      <div class="mb-1 mt-2">      
        <input type="text" class="form-control" placeholder="option2" name="option2">
      </div>      
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-between">
      <a href="/" class="btn btn-secondary mt-3">Cancel</a>     
      <button type="submit" class="btn btn-success ms-5 mt-3">Add Survey</button>
    </div>
  </div>

</form>